@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
    background-color: #fdf9f9;
    font-family: Arial, sans-serif; 
    header {
    text-align: center;
    padding: 40px 20px;
    background-color: #f8eef0;
    border-radius: 15px;
    margin: 20px;
}

} 
h1, h2 {
    color: #8d3346;
}
h1 {
    font-size: 40px;
}
section {
    padding: 20px;
     margin: 20px;
    background-color: #f1c7d0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
section a {
    display: inline-block;
    background-color: #8b4f5c;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}
section a:hover {
    background-color: #a96876;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
#micha {
    background-color: #f8eef0;
    border: 2px solid #8b4f5c;
    border-radius: 10px;
}
.name {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px 0;
}
.titulo-micha {
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 1px;
}
#micha img {
    width: 300px;
    border-radius: 15px;
    display: block;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
li {
    padding: 8px 12px;
    margin: 5px 0;
    transition: 0.3s;
}
li:hover {
    transform: translateX(5px);
    color: #8b4f5c;
    background-color: #f8eef0;
    border-radius: 8px;
}
figcaption {
    font-style: italic;
    text-align: left;
    color: #701e30;
    margin-top: 10px;
    max-width: 300px;
}
.intereses li:first-child::before {
    content: "🎧";
    margin-right: 10px;
}
.intereses li:nth-child(2)::before {
    content: "🎬";
    margin-right: 10px;
}
.intereses li:nth-child(3)::before {
    content: "☕";
    margin-right: 10px;
}